/* elementos bloqueados */
.pagination > li > a
{
    background-color: white;
    color: black;
}

/* Colore al poner el mouse encima */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #A9D08E;
    border-color: #A9D08E;
}

/* elemento seleccionado */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: white;
    background-color: #00bd4f;
    border-color: #00bd4f;
}
